
h2[title="baslik1"]{
    color: red;
    
}
p[title="paragraf1"]{
    color: royalblue;
    text-align: justify;
}
a[target="_blank"]{
  color:greenyellow;  
}
input[type="text"]{
    background-color: rosybrown;
}
input[type="button"]{
    background-color: seagreen;
    size: initial;
}