
        h2 {
            color: darkgreen;
            font-size: 45px;
            text-align: center;

        }

        p {
            color :indigo;
            font-size: 20px;
            text-align: center;
        }
  